h1{
  margin-left: 330px;
}
.editForm{
  margin-left: 340px;
  text-align: center;
  font-size: 25px;
  align-items: center;
  width: 300px;
  border: 2px solid gray;
  color: deepskyblue;
  height: 370px;
  list-style: none;
  }

h1{
  font-size: 50px;
  color: deepskyblue;
  }
  .products{
/*  border: 2px solid gray;*/
  margin-left: 260px;
  text-align: left;
  font-size: 25px;
  align-items: center;
  width: 300px;
  list-style: none;
  /*border: 2px solid gray;*/

  }

  .articleBorder{
    border: 1px solid black;
  }


