extends ./layout.pug
include ./mixin.pug
block title
  title Edit

block body
  if page == 'home'
    h1 Add Products
    form(action='#' method='post').editForm
      p Name
      p #{edit}
      input(name="name").editName
      p Price
      input(name="price").editPrice
      p Inventory
      input(name="inventory").editInventory
      br
      button.button POST
      button
        a(href="/articles/new") Add an Article
      button
        a(href="/products") HOME
  else
    h1 Add Articles
    form(action='#' method='post').editForm
      p Title
      p #{edit}
      input(name="title").editName
      p Body
      input(name="body").editPrice
      p Author
      input(name="author").editInventory
      br
      button.button POST
      button
        a(href="/products/new") add a Product
      button
        a(href="/articles") HOME
